
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .login-card {
    width: 600px;
    padding: 10px;
    margin: 0 auto;
  }
 


  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
  }

  mat-form-field {
    margin-right: 5px;
  }
