.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 600px;
  padding: 10px;
  margin: 0 auto;
}

.input-field {
  width: 100%;
}

.login-button {
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin-right: 5px;
}

button.mat-raised-button {
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}