<body>
  <div class="header">
    <div class="row">
      <div class="col-1">
        <div class="regresarProfile">
          <button type="button" class="btn btn-primary" (click)="back()"><mat-icon>arrow_back</mat-icon></button>
        </div>
      </div>
      <div class="col-10 center">
        <img src="https://i.pinimg.com/originals/34/22/90/3422900cb9e9bd4ce803847129eb6c9f.jpg" alt="imagen">
      </div>
      <div class="col-1">
      </div>
    </div>
  </div>


  <h1>Ingresa tus datos</h1>
  <div class="containerus">
    <form class="example-form" id="add">
      <mat-form-field class="input-field">
        <mat-label>Correo electronico</mat-label>
        <input matInput [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="input-field">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="dataCreate.name" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field class="input-field">
        <mat-label>Apellido</mat-label>
        <input matInput [(ngModel)]="dataCreate.lastName" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field class="input-field">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput placeholder="MM/DD/AAAA" [matDatepicker]="picker" [(ngModel)]="dataCreate.dob"
          [ngModelOptions]="{standalone: true}">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="input-field">
        <mat-label>Ingresa tu contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="dataCreate.password"
          [ngModelOptions]="{standalone: true}">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Confirma tu Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordConfirm" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <form class="saveImg">
        <input type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput required>
        <img *ngIf="imageSrc" [src]="imageSrc" style="max-width: 100px;" alt="Imagen Previa">
        <br>
        <button mat-raised-button (click)="selectImage()" id="selected">Seleccionar Imagen de perfil</button>
      </form>
      <div class="buttons">
        <br>
        <button type="button" class="btn btn-primary" (click)="validationImagen()"> Crear </button>
      </div>
    </form>
    <div class="return-button">

      <br>
    </div>
  </div>


</body>