.example-form {
  justify-content: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40%;
}
h1{
  text-align: center;
}
.input-field {
  width: 36%;
}
