<!doctype html>
<html lang="en">

<body>
  <div class="header">
    <div class="col-1" *ngIf="add">
      <div class="regresarProfile">
        <button type="button" class="btn btn-primary"(click)="home()"><mat-icon>arrow_back</mat-icon></button>
      </div>
    </div>
      <div class="col-1" *ngIf="modify">
        <div class="regresarProfile">
          <button type="button" class="btn btn-primary" (click)="back()"><mat-icon>arrow_back</mat-icon></button>
        </div>
      </div>
    <img src="https://i.pinimg.com/originals/34/22/90/3422900cb9e9bd4ce803847129eb6c9f.jpg" alt="imagen">
  </div>
  <nav class="menu" *ngIf="botones">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
    <label class="menu-open-button" for="menu-open">
      <span class="hamburger hamburger-1"></span>
      <span class="hamburger hamburger-2"></span>
      <span class="hamburger hamburger-3"></span>
    </label>
    <a class="menu-item" (click)="Modify(publicationData)"> <i class="fa-solid fa-pen-to-square"></i> </a>
    <a class="menu-item" (click)="deletePublication(publicationData)"> <i class="fa-solid fa-trash"></i> </a>
  </nav>
  <div class="row" *ngIf="add">

    <div class="col-2"></div>
    <div class="col-4">
      <!--  Aqui va la foto de la publicacion y el comentario -->
      <mat-card class="post-card" >
         <img src="assets/original/{{photo.idPhoto}}">
        <p>{{publication.decription}}</p>

        <button mat-icon-button class="example-icon favorite-icon" [ngClass]="{ 'active': isFavoriteEdit }" (click)="toggleFavoriteEdit()">
          <mat-icon>{{ isFavoriteEdit ? 'favorite' : 'favorite_border' }}</mat-icon>
        </button>
        <mat-card-content>
          <mat-form-field class="comment-field">
            <mat-label>Comentario</mat-label>
            <textarea matInput [(ngModel)]="comentario"></textarea>
          </mat-form-field>
          <button type="button" class="btn btn-primary" (click)="commentcreateService(comentario)">Comentar</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <!-- Comentarios de la publicacion -->
      <div class="card" style="width: 23rem;">
        <ul class="list-group list-group-flush" *ngFor="let comment of comments; let i = index">
          <li class="list-group">&nbsp;&nbsp;{{ comment.userIdUser }}</li>
          <li class="list-group-item">
            &nbsp;{{ comment.text }}

            <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="userLogin && comment.userIdUser === dataUser.idUser">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <!-- Mostrar el botón Editar solo si el usuario ha iniciado sesión y es el propietario del comentario -->
              <button mat-menu-item (click)="editComment(i)" *ngIf="userLogin && comment.userIdUser === dataUser.idUser">
                <i class="fa-solid fa-pen"></i>&nbsp;
                <span>Editar</span>
              </button>

              <!-- Mostrar el botón Eliminar solo si el usuario ha iniciado sesión y es el propietario del comentario -->
              <button mat-menu-item (click)="deleteComment(comment)" *ngIf="userLogin && comment.userIdUser === dataUser.idUser">
                <i class="fa-solid fa-trash"></i> &nbsp;
                <span>Eliminar</span>
              </button>
            </mat-menu>

            <div class="input-group" *ngIf="editingCommentIndex === i">
              <textarea class="form-control" aria-label="With textarea"
                [(ngModel)]="comentarioModificado">{{ comment.text }}</textarea>
            </div>

            <!-- Mostrar el botón Guardar solo si el usuario ha iniciado sesión y está editando un comentario -->
            <button mat-menu-item (click)="saveComment(comentarioModificado, comment)" *ngIf="userLogin && editingCommentIndex === i">
              <i class="fa-solid fa-floppy-disk"></i>&nbsp;
              <span>Guardar</span>
            </button>
          </li>
        </ul>
      </div>
      <br><br>
    </div>
    <div class="col-2" ></div>
  </div>


  <div class="row"  *ngIf="modify">
    <div class="col-2"></div>

    <div class="col-4">
      <!--  Aqui va la foto de la publicacion y el comentario -->
      <form class="formAdd" id="modify" class="container center">
        <mat-card class="post-card">
          <div >
            <mat-card class="post-card" *ngIf="imgModify1">
              <img src="assets/original/{{photo.idPhoto}}">
            </mat-card>
          
          </div>
          <mat-form-field class="input-field">
            <mat-label>Descripcion</mat-label>
            <input type="text" matInput [(ngModel)]="dataModify.decription" [ngModelOptions]="{standalone: true}" >
          </mat-form-field>
          <mat-card-content>
            <button type="button" class="btn btn-primary" (click)="validarImages()" >Editar</button>
          </mat-card-content>
        </mat-card>
      </form>
  
  
    </div>
    <div class="col-2" ></div>
  
  </div>
 

</body>



</html>
