<body>
  <div class="header">

    <div class="row">
    
      <div class="col-1">
        <div class="regresarProfile">
          <button mat-mini-fab color="primary" *ngIf="!modify" (click)="backWelcome()"><i
              class="fa-solid fa-backward"></i></button>
        </div>
      </div>

      <div class="col-10 center">
        <img src="https://i.pinimg.com/originals/34/22/90/3422900cb9e9bd4ce803847129eb6c9f.jpg" alt="imagen">
      </div>

      <div class="col-1">
        <div class="logout">
          <button mat-mini-fab color="primary" *ngIf="!modify" (click)="revokeService()"><i class="fa-solid fa-right-from-bracket"></i></button>

        </div>
      </div>

    </div>
    
    <div class="regresar">
      <button mat-mini-fab color="primary" *ngIf="modify" (click)="back()"><i class="fa-solid fa-backward"></i></button>
    </div>
  </div>


  <div class="container" *ngIf="!modify">
    <mat-card class="profile-card">
      <img
        src="https://previews.123rf.com/images/aprillrain/aprillrain2212/aprillrain221200638/196354278-imagen-de-caricatura-de-un-astronauta-sentado-en-una-luna-ilustraci%C3%B3n-de-alta-calidad.jpg"
        alt="Foto de perfil" class="profile-picture">
      <mat-card-title>Nombre: {{dataUser.name}} {{dataUser.lastName}}</mat-card-title>
      <mat-card-content>
        <p>Fecha de nacimiento: {{dataUser.dob |date: "dd-MM-yyyy"}}</p>
      </mat-card-content>
      <div class="edit">
        <button mat-mini-fab color="primary"><i class="fa-solid fa-pen-to-square"
            (click)="Modify(dataUser)"></i></button>
      </div>

    </mat-card>
    
    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-10 center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5rL7XmirFrLWyDGVEGSw3UGvADiXR3gIgqg&usqp=CAU"
          alt="Imagen 1">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5rL7XmirFrLWyDGVEGSw3UGvADiXR3gIgqg&usqp=CAU"
          alt="Imagen 2">
      </div>
      <div class="col-1">
      </div>
    </div>
  </div>

  <div class="containerus" *ngIf="modify">
    <form (ngSubmit)="modForm()" id="modForm">
      <h1>Modificación</h1>
      <br>
      <mat-form-field class="input-field">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="perfilDataModify.name" name="name" class="form-control">
      </mat-form-field>
      <br>
      <mat-form-field class="input-field">
        <mat-label>Apellido</mat-label>
        <input matInput [(ngModel)]="perfilDataModify.lastName" name="lastName" class="form-control">
      </mat-form-field>
      <br>
      <mat-form-field class="input-field">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [(ngModel)]="perfilDataModify.dob" [ngModelOptions]="{standalone: true}"
          placeholder="DD/MM/AAAA" [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <p>ACA IRIA EL COMPONENTE DE LA FOTO</p>
      <div>
        <button type="submit" class="btn btn-secondary">Confirmar</button>
      </div>
    </form>
  </div>


</body>