<body>
  <div class="header">
    <div class="row">
      <div class="col-1">
        <button mat-mini-fab color="primary" *ngIf="btnback"
          (click)="backWelcome()"> <mat-icon>arrow_back</mat-icon></button>

        <button mat-mini-fab color="primary" *ngIf="btnbackW"
          (click)="back()"><mat-icon>arrow_back</mat-icon></button>
      </div>
      <div class="col-10 center">
        <img src="https://i.pinimg.com/originals/34/22/90/3422900cb9e9bd4ce803847129eb6c9f.jpg" alt="imagen">
      </div>
      <div class="col-1">
        <button mat-mini-fab color="primary" (click)="revokeService()"><mat-icon>close</mat-icon></button>
      </div>
    </div>


  </div>


  <div class="container" *ngIf="!modify">
    <mat-card class="profile-card">
      <img src="assets/thumbnail/{{dataUser.fotoIdFoto}}" alt="Foto Perfil" class="profile-picture">
      <mat-card-title>Nombre del usuario: {{dataUser.name}} {{dataUser.lastName}}</mat-card-title>
      <mat-card-title>
        <p>Fecha de nacimiento: {{dataUser.dob |date: "dd-MM-yyyy"}}</p>
      </mat-card-title>
      <div class="edit">
        <button mat-mini-fab color="primary" (click)="Modify(dataUser)"><mat-icon>edit</mat-icon></button>
      </div>
    </mat-card>

    <div class="row">
      <ng-container *ngFor="let publication of publications; let i = index">
        <div class="col-4">
          <img src="assets/medium/{{publication.photoIdPhoto}}" alt="not found" class="imagesPubli"
            [attr.data-id]="publication.idPublication" (click)="publicationSet(publication.idPublication)">
          <p>{{publication.decription}}</p>
        </div>
      </ng-container>
    </div>
  </div>

  <h1 *ngIf="modify">Modificación</h1>
  <div class="containerus" *ngIf="modify">
    
    <form class="example-form" (ngSubmit)="modForm()" id="modForm">
     
      <br>
      <mat-form-field class="input-field">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="perfilDataModify.name" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <br>
      <mat-form-field class="input-field">
        <mat-label>Apellido</mat-label>
        <input matInput [(ngModel)]="perfilDataModify.lastName" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <br>
      <mat-form-field class="input-field">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [(ngModel)]="perfilDataModify.dob" [ngModelOptions]="{standalone: true}"
          placeholder="DD/MM/AAAA" [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>


      <mat-form-field class="input-field">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="perfilDataModify.password"
          [ngModelOptions]="{standalone: true}">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-form-field class="input-field">
        <mat-label>Confirmar Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="perfilDataModify.passwordConfirm"
          [ngModelOptions]="{standalone: true}">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <form class="saveImg">
        <input type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput required>
        <img *ngIf="imageSrc" [src]="imageSrc" style="max-width: 100px;" alt="Imagen Previa">
        <br>
        <button mat-raised-button (click)="selectImage()" id="selected">Seleccionar Imagen de perfil</button>
      </form>
      <br>
      <div>
        <button type="submit" class="btn btn-secondary">Confirmar</button>
      </div>
    </form>
  </div>


</body>