<div class="login-container">
    <mat-card class="login-card">
      <h1>Creación de contraseña</h1>
      <br>
      <form *ngIf="form" (ngSubmit)="setPassword()" class="mat-card">
        <mat-form-field appearance="fill" class="input-field">
            <mat-label>Ingresa tu Contraseña Actual</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required (keydown)="onPasswordKeydown($event)">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="fill" class="input-field">
            <mat-label>Ingresa tu Contraseña Nueva</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordNew" required (keydown)="onPasswordKeydown($event)">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="fill" class="input-field">
            <mat-label>Confirma tu Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordConfirm" required (keydown)="onPasswordKeydown($event)">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        <br>
        <button id="btnRecover" mat-raised-button color="primary" type="submit" class="login-button"> Guardar 
            <i class="fa-solid fa-unlock-keyhole fa-beat"></i></button>
        <br>
      </form>
      <br>
      <div *ngIf="spinner" id="spinner">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
      </div>
      <div *ngIf="alertaOK" class="alert alert-primary" role="alert">
        {{messageOK}}
      </div>
    </mat-card>
  </div>