<h1>Bienvenido {{dataUser.name}} {{dataUser.lastName}}</h1>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Galería de Fotos</h1>
</head>

<body>
    <div class="header">
        <div class="example-button-container">
            <button mat-mini-fab color="primary"><i class="fa-solid fa-right-from-bracket"></i></button>
        </div>
      <button mat-raised-button color="primary" class="crear">Crear Publicacion</button>
    </div>
    <div class="row" *ngFor="let publication of publications">
        <div class="col-2">
        </div>
        <div class="col-8 center img"  >
          <img src="assets/{{publication.photo.idPhoto}}" alt="not found"  class="imagesPubli" [attr.data-id]="publication.publication.idPublication" (click)=publicationSet(this.publication.publication.idPublication)>
          <p>{{publication.publication.decription}}</p>
        </div>
        <div class="col-2">
        </div>
    </div>
</body>

</html>
