<body>
    <div class="header">
        <div class="row">
          <div class="col-2">
                <mat-card-title>Usuario: {{dataUser.name}} {{dataUser.lastName}}</mat-card-title>
                <img src="assets/thumbnail/{{dataUser.fotoIdFoto}}" alt="Foto Perfil" class="profile-picture">
          </div>
          <div class="col-9 center">
            <img src="https://i.pinimg.com/originals/34/22/90/3422900cb9e9bd4ce803847129eb6c9f.jpg" alt="imagen">
          </div>
          <div class="col-1">
            <div class="logout">
              <button mat-mini-fab color="primary"  (click)="revokeService()"><mat-icon>close</mat-icon></button>
            </div>
          </div>
        </div>


      </div>
    <nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open">
            <span class="hamburger hamburger-1"></span>
            <span class="hamburger hamburger-2"></span>
            <span class="hamburger hamburger-3"></span>
        </label>
        <a (click)="creacionpubli()" class="menu-item"> <i class="fa-solid fa-plus"></i> </a>
        <a (click)="profile()" class="menu-item"> <i class="fa-solid fa-user"></i> </a>
    </nav>

    <div class="container">
      <div class="row">
        <ng-container *ngFor="let publication of publications; let i = index">
          <div class="col-4">
            <img src="assets/medium/{{publication.photo.idPhoto}}" alt="not found" class="imagesPubli" [attr.data-id]="publication.publication.idPublication" (click)="publicationSet(publication.publication.idPublication)">
            <p>{{publication.publication.decription}}</p>
          </div>
          
        </ng-container>
      </div>
    </div>

</body>